logs
project/project
project/target
target
tmp
.settings
.idea/
node_modules
bower_components
.sass-cache
.tmp
dist
*.bak
.idea_modules/
.DS_Store
npm-debug.log
*.swp
dump.rdb
upload/
target/
lib_managed/
src_managed/
project/boot/
.history
.cache

